# Lab1: part 2 - DataFrame operations

Welcome to Lab 2!  This week, we'll learn how to import a module and practice table operations!

Recommended Reading:
 * [Introduction to DataFrames](https://applieddatascience.cmp.uea.ac.uk/03/4/Introduction_to_Tables.html)

First, set up the tests and imports by running the cell below.

In [1]:
# Just run this cell
import numpy as np
import pandas as pd

# 1. Review: The building blocks of Python code

The two building blocks of Python code are *expressions* and *statements*.  An **expression** is a piece of code that

* is self-contained, meaning it would make sense to write it on a line by itself, and
* usually evaluates to a value.


Here are two expressions that both evaluate to 3:

    3
    5 - 2
    
One important type of expression is the **call expression**. A call expression begins with the name of a function and is followed by the argument(s) of that function in parentheses. The function returns some value, based on its arguments. Some important mathematical functions are listed below.

| Function | Description                                                   |
|----------|---------------------------------------------------------------|
| `abs`      | Returns the absolute value of its argument                    |
| `max`      | Returns the maximum of all its arguments                      |
| `min`      | Returns the minimum of all its arguments                      |
| `pow`      | Raises its first argument to the power of its second argument |
| `round`    | Rounds its argument to the nearest integer                     |

Here are two call expressions that both evaluate to 3:

    abs(2 - 5)
    max(round(2.8), min(pow(2, 10), -1 * pow(2, 10)))

The expression `2 - 5` and the two call expressions given above are examples of **compound expressions**, meaning that they are actually combinations of several smaller expressions.  `2 - 5` combines the expressions `2` and `5` by subtraction.  In this case, `2` and `5` are called **subexpressions** because they're expressions that are part of a larger expression.

A **statement** is a whole line of code.  Some statements are just expressions.  The expressions listed above are examples.

Other statements *make something happen* rather than *having a value*. For example, an **assignment statement** assigns a value to a name. 

A good way to think about this is that we're **evaluating the right-hand side** of the equals sign and **assigning it to the left-hand side**. Here are some assignment statements:
    
    height = 1.3
    the_number_five = abs(-5)
    absolute_height_difference = abs(height - 1.688)

An important idea in programming is that large, interesting things can be built by combining many simple, uninteresting things.  The key to understanding a complicated piece of code is breaking it down into its simple components.

For example, a lot is going on in the last statement above, but it's really just a combination of a few things.  This picture describes what's going on.

<img src="statement.png">

**Question 1.1.** In the next cell, assign the name `new_year` to the larger number among the following two numbers:

1. the **absolute value** of $2^{5}-2^{11}-2^1 + 1$, and 
2. $5 \times 13 \times 31 + 5$.

Try to use just one statement (one line of code). Be sure to check your work by executing the test cell afterward.

<!--
BEGIN QUESTION
name: q11
-->

In [4]:
new_year = max(((2**5)-(2**11)-(2**1)+1),((5*13*31)+5))
new_year

2020

We've asked you to use one line of code in the question above because it only involves mathematical operations. However, more complicated programming questions will more require more steps. It isn’t always a good idea to jam these steps into a single line because it can make the code harder to read and harder to debug.

Good programming practice involves splitting up your code into smaller steps and using appropriate names. You'll have plenty of practice in the rest of this course!

# 2. Importing code

![imports](https://external-preview.redd.it/ZVPjiFo_Ubl4JeiU63SaTjdIoq5zveSnNZimKpgn2I8.png?auto=webp&s=bf32c94b630befa121075c1ae99b2599af6dedc5) 

[source](https://www.reddit.com/r/ProgrammerHumor/comments/cgtk7s/theres_no_need_to_reinvent_the_wheel_oc/)

Most programming involves work that is very similar to work that has been done before.  Since writing code is time-consuming, it's good to rely on others' published code when you can.  Rather than copy-pasting, Python allows us to **import modules**. A module is a file with Python code that has defined variables and functions. By importing a module, we are able to use its code in our own notebook.

Python includes many useful modules that are just an `import` away.  We'll look at the `math` module as a first example. The `math` module is extremely useful in computing mathematical expressions in Python. 

Suppose we want to very accurately compute the area of a circle with a radius of 5 meters.  For that, we need the constant $\pi$, which is roughly 3.14.  Conveniently, the `math` module has `pi` defined for us:

In [5]:
import math
radius = 5
area_of_circle = radius**2 * math.pi
area_of_circle

78.53981633974483

In the code above, the line `import math` imports the math module. This statement creates a module and then assigns the name `math` to that module. We are now able to access any variables or functions defined within `math` by typing the name of the module followed by a dot, then followed by the name of the variable or function we want.

    <module name>.<name>

**Question 2.1.** The module `math` also provides the name `e` for the base of the natural logarithm, which is roughly 2.71. Compute $e^{\pi}-\pi$, giving it the name `near_twenty`.

*Remember: You can access `pi` from the `math` module as well!*

<!--
BEGIN QUESTION
name: q21
-->

In [6]:
near_twenty = math.exp(math.pi)-math.pi
near_twenty

19.999099979189474

![XKCD](http://imgs.xkcd.com/comics/e_to_the_pi_minus_pi.png)

[Source](http://imgs.xkcd.com/comics/e_to_the_pi_minus_pi.png)
[Explaination](https://www.explainxkcd.com/wiki/index.php/217:_e_to_the_pi_Minus_pi)

## 2.1. Accessing functions

In the question above, you accessed variables within the `math` module. 

**Modules** also define **functions**.  For example, `math` provides the name `sin` for the sine function.  Having imported `math` already, we can write `math.sin(3)` to compute the sine of 3.  (Note that this sine function considers its argument to be in [radians](https://en.wikipedia.org/wiki/Radian), not degrees.  180 degrees are equivalent to $\pi$ radians.)

**Question 2.1.1.** A $\frac{\pi}{4}$-radian (45-degree) angle forms a right triangle with equal base and height, pictured below.  If the hypotenuse (the radius of the circle in the picture) is 1, then the height is $\sin(\frac{\pi}{4})$.  Compute that value using `sin` and `pi` from the `math` module.  Give the result the name `sine_of_pi_over_four`.

<img src="http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif">

[Source](http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif)

<!--
BEGIN QUESTION
name: q211
-->

In [7]:
sine_of_pi_over_four = math.sin(math.pi/4)
sine_of_pi_over_four

0.7071067811865476

For your reference, below are some more examples of functions from the `math` module.

Notice how different functions take in different numbers of arguments. Often, the [documentation](https://docs.python.org/3/library/math.html) of the module will provide information on how many arguments are required for each function.

*Hint: If you press `shift+tab` while next to the function call, the documentation for that function will appear*

In [ ]:
# Calculating logarithms (the logarithm of 8 in base 2).
# The result is 3 because 2 to the power of 3 is 8.
math.log(8, 2)

In [8]:
# Calculating square roots.
math.sqrt(5)

2.23606797749979

There are various ways to import and access code from outside sources. The method we used above — `import <module_name>` — imports the entire module and requires that we use `<module_name>.<name>` to access its code. 

We can also import a specific constant or function instead of the entire module. Notice that you don't have to use the module name beforehand to reference that particular value. However, you do have to be careful about reassigning the names of the constants or functions to other values!

In [9]:
# Importing just cos and pi from math.
# We don't have to use `math.` in front of cos or pi
from math import cos, pi
print(cos(pi))

# We do have to use it in front of other functions from math, though
math.log(pi)

-1.0

1.1447298858494002

Or we can import every function and value from the entire module.

In [10]:
# Lastly, we can import everything from math using the *
# Once again, we don't have to use 'math.' beforehand 
from math import *
log(pi)

1.1447298858494002

Don't worry too much about which type of import to use. It's often a coding style choice left up to each programmer. In this course, you'll always import the necessary modules when you run the setup cell (like the first code cell in this lab).

Let's move on to practicing some of the table operations you've learned in lecture!

# 3. DataFrame operations

The table `farmers_markets.csv` contains data on farmers' markets in the United States  (data collected [by the USDA](https://apps.ams.usda.gov/FarmersMarketsExport/ExcelExport.aspx)).  Each row represents one such market.

Run the next cell to load the `farmers_markets` table.

In [38]:
# Just run this cell
farmers_markets = pd.read_csv('farmers_markets.csv')
farmers_markets.head()

,FMID,MarketName,street,city,County,State,zip,x,y,Website,...,SFMNP,SNAP,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time
0,1012063,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,05828,-72.140305,44.411013,https://sites.google.com/site/caledoniafarmers...,...,Y,N,06/08/2016 to 10/12/2016,Wed: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
1,1011871,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,44130,-81.728597,41.375118,http://Stearnshomestead.com,...,Y,Y,06/25/2016 to 10/01/2016,Sat: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
2,1011878,100 Mile Market,507 Harrison St,Kalamazoo,Kalamazoo,Michigan,49007,-85.574887,42.296024,http://www.pfcmarkets.com,...,Y,Y,05/04/2016 to 10/12/2016,Wed: 3:00 PM-7:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
3,1009364,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,NaN,South Carolina,29682,-82.818700,34.804200,http://thetownofsixmile.wordpress.com/,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1010691,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274619,37.495628,NaN,...,N,N,04/02/2014 to 11/30/2014,Wed: 3:00 PM-6:00 PM;Sat: 8:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN

Let's examine our table to see what data it contains.

**Question 3.1.** Use the method `show` to display the first 5 rows of `farmers_markets`. 

*Note:* The terms "method" and "function" are technically not the same thing, but for the purposes of this course, we will use them interchangeably.

**Hint:** `tbl.show(3)` will show the first 3 rows of `tbl`. Additionally, make sure not to call `.show()` without an argument, as this will crash your kernel!

In [39]:
farmers_markets.head(3)

,FMID,MarketName,street,city,County,State,zip,x,y,Website,...,SFMNP,SNAP,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time
0,1012063,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,05828,-72.140305,44.411013,https://sites.google.com/site/caledoniafarmers...,...,Y,N,06/08/2016 to 10/12/2016,Wed: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
1,1011871,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,44130,-81.728597,41.375118,http://Stearnshomestead.com,...,Y,Y,06/25/2016 to 10/01/2016,Sat: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
2,1011878,100 Mile Market,507 Harrison St,Kalamazoo,Kalamazoo,Michigan,49007,-85.574887,42.296024,http://www.pfcmarkets.com,...,Y,Y,05/04/2016 to 10/12/2016,Wed: 3:00 PM-7:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN

Notice that some of the values in this table are missing, as denoted by "nan." This means either that the value is not available (e.g. if we don’t know the market’s street address) or not applicable (e.g. if the market doesn’t have a street address). You'll also notice that the table has a large number of columns in it!

### `len(df.columns)`

The df property `len(df.columns)` returns the number of columns in a table. (A "property" is just a method that doesn't need to be called by adding parentheses.)

Example call: `len(df.columns)`

**Question 3.2.** Use `len()` to find the number of columns in our farmers' markets dataset.

Assign the number of columns to `num_farmers_markets_columns`.

In [40]:
num_farmers_markets_columns = len(farmers_markets.columns)
print("The table has", num_farmers_markets_columns, "columns in it!")

The table has 59 columns in it!

### `len()`

Similarly, the property `len(df)` has a defual setting which tells you how many rows are in a table.

In [41]:
# Just run this cell

num_farmers_markets_rows = len(farmers_markets)
print("The table has", num_farmers_markets_rows, "rows in it!")

The table has 8546 rows in it!

### `selecting columns`

Most of the columns are about particular products -- whether the market sells tofu, pet food, etc.  If we're not interested in that information, it just makes the table difficult to read.  This comes up more than you might think, because people who collect and publish data may not know ahead of time what people will want to do with it.

In such situations, we can use the table method `df1 = df['','']` to choose only the columns that we want in a particular table. It takes any number of arguments. Each should be the name of a column in the table. It returns a new table with only those columns in it. The columns are in the order *in which they were listed as arguments*.

For example, the value of `farmers_markets[["MarketName", "State"]]` is a df with only the name and the state of each farmers' market in `farmers_markets`.



**Question 3.3.** Use `df = df['','']` to create a table with only the name, city, state, latitude (`y`), and longitude (`x`) of each market.  Call that new table `farmers_markets_locations`.

*Hint:* Make sure to double-check capitalization!

In [44]:
farmers_markets_locations = farmers_markets[["MarketName","city","State","y","x"]]
farmers_markets_locations

,MarketName,city,State,y,x
0,Caledonia Farmers Market Association - Danville,Danville,Vermont,44.411013,-72.140305
1,Stearns Homestead Farmers' Market,Parma,Ohio,41.375118,-81.728597
2,100 Mile Market,Kalamazoo,Michigan,42.296024,-85.574887
3,106 S. Main Street Farmers Market,Six Mile,South Carolina,34.804200,-82.818700
4,10th Steet Community Farmers Market,Lamar,Missouri,37.495628,-94.274619
...,...,...,...,...,...
8541,Zia Bernalillo Farmers' Market,Bernalillo,New Mexico,35.313704,-106.546840
8542,Zimmerman Farmers Market,Zimmerman,Minnesota,45.437700,-93.585014
8543,Zion Canyon Farmers Market,Springdale,Utah,37.184508,-113.003311
8544,Zionsville Farmers Market,Zionsville,Indiana,39.949100,-86.261200
8545,Zona Rosa Farmers' Market,Kansas City,Missouri,39.246317,-94.580864

### `drop`

`drop` serves the same purpose as `df['','']`, but it takes away the columns that you provide rather than the ones that you don't provide. Like `df['','']`, `drop` returns a new table.

**Question 3.4.** Suppose you just didn't want the `FMID` and `updateTime` columns in `farmers_markets`.  Create a table that's a copy of `farmers_markets` but doesn't include those columns.  Call that table `farmers_markets_without_fmid`.

In [52]:
farmers_markets_without_fmid = farmers_markets.drop("FMID", axis = "columns")
farmers_markets_without_fmid

,MarketName,street,city,County,State,zip,x,y,Website,Facebook,...,SFMNP,SNAP,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time
0,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,05828,-72.140305,44.411013,https://sites.google.com/site/caledoniafarmers...,https://www.facebook.com/Danville.VT.Farmers.M...,...,Y,N,06/08/2016 to 10/12/2016,Wed: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
1,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,44130,-81.728597,41.375118,http://Stearnshomestead.com,NaN,...,Y,Y,06/25/2016 to 10/01/2016,Sat: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
2,100 Mile Market,507 Harrison St,Kalamazoo,Kalamazoo,Michigan,49007,-85.574887,42.296024,http://www.pfcmarkets.com,https://www.facebook.com/100MileMarket/?fref=ts,...,Y,Y,05/04/2016 to 10/12/2016,Wed: 3:00 PM-7:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
3,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,NaN,South Carolina,29682,-82.818700,34.804200,http://thetownofsixmile.wordpress.com/,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274619,37.495628,NaN,NaN,...,N,N,04/02/2014 to 11/30/2014,Wed: 3:00 PM-6:00 PM;Sat: 8:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8541,Zia Bernalillo Farmers' Market,335 S. Camino del Pueblo,Bernalillo,Sandoval,New Mexico,NaN,-106.546840,35.313704,http://www.eatfreshnm.org/,https://www.facebook.com/farmersmarketsnm?ref=hl,...,Y,Y,07/04/2014 to 10/24/2014,Fri: 4:00 PM-7:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8542,Zimmerman Farmers Market,"Lions Park, Main Street",Zimmerman,Sherburne,Minnesota,55398,-93.585014,45.437700,http://www.pzfarmersmarket.org,princeton-zimerman farmers market,...,N,N,06/07/2016 to 10/04/2016,Tue: 2:30 AM-6:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8543,Zion Canyon Farmers Market,1212 Zion Park Blvd.,Springdale,Washington,Utah,84767,-113.003311,37.184508,http://www.zionharvest.org,https://www.facebook.com/ZionCanyonFarmersMark...,...,N,N,04/25/2015 to 10/17/2015,Sat: 9:00 AM-12:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8544,Zionsville Farmers Market,Hawthorne & Main Street,Zionsville,Boone,Indiana,46077,-86.261200,39.949100,http://www.zionsvillefarmersmarket.org,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8545,Zona Rosa Farmers' Market,Off of I-29 and Barry Road,Kansas City,Platte,Missouri,64153,-94.580864,39.246317,NaN,NaN,...,N,N,06/01/2015 to 09/30/2015,Tue: 4:00 PM-8:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN

Now, suppose we want to answer some questions about farmers' markets in the US. For example, which market(s) have the largest longitude (given by the `x` column)? 

To answer this, we'll sort `farmers_markets_locations` by longitude.

In [53]:
farmers_markets_locations.sort_values(by=['x'])

,MarketName,city,State,y,x
7617,Trapper Creek Farmers Market,Trapper Creek,Alaska,53.874800,-166.540000
3924,Kekaha Neighborhood Center (Sunshine Markets),Kekaha,Hawaii,21.970400,-159.718000
3290,Hanapepe Park (Sunshine Markets),Hanapepe,Hawaii,21.910100,-159.588000
3888,Kalaheo Neighborhood Center (Sunshine Markets),Kalaheo,Hawaii,21.925100,-159.527000
3383,Hawaiian Farmers of Hanalei,Hanalei,Hawaii,22.203300,-159.514000
...,...,...,...,...,...
2650,Feria Agrícola de Luquillo,Luquillo,Puerto Rico,18.378202,-65.720737
6398,Rothschild Francis Vegetable Market,St. Thomas,Virgin Islands,18.342800,-64.932600
206,Anne Heyliger Vegetable Market,Saint Croix,Virgin Islands,17.709900,-64.879900
4063,La Reine Farmers Market,Saint Croix,Virgin Islands,17.732200,-64.778900
1284,"Christian ""Shan"" Hendricks Vegetable Market",Saint Croix,Virgin Islands,17.744900,-64.704300

Oops, that didn't answer our question because we sorted from smallest to largest longitude. To look at the largest longitudes, we'll have to sort in reverse order.

In [54]:
farmers_markets_locations.sort_values(by=['x'], ascending=False)

,MarketName,city,State,y,x
1284,"Christian ""Shan"" Hendricks Vegetable Market",Saint Croix,Virgin Islands,17.744900,-64.704300
4063,La Reine Farmers Market,Saint Croix,Virgin Islands,17.732200,-64.778900
206,Anne Heyliger Vegetable Market,Saint Croix,Virgin Islands,17.709900,-64.879900
6398,Rothschild Francis Vegetable Market,St. Thomas,Virgin Islands,18.342800,-64.932600
2650,Feria Agrícola de Luquillo,Luquillo,Puerto Rico,18.378202,-65.720737
...,...,...,...,...,...
3383,Hawaiian Farmers of Hanalei,Hanalei,Hawaii,22.203300,-159.514000
3888,Kalaheo Neighborhood Center (Sunshine Markets),Kalaheo,Hawaii,21.925100,-159.527000
3290,Hanapepe Park (Sunshine Markets),Hanapepe,Hawaii,21.910100,-159.588000
3924,Kekaha Neighborhood Center (Sunshine Markets),Kekaha,Hawaii,21.970400,-159.718000
7617,Trapper Creek Farmers Market,Trapper Creek,Alaska,53.874800,-166.540000

(The `descending=True` bit is called an *optional argument*. It has a default value of `False`, so when you explicitly tell the function `descending=True`, then the function will sort in descending order.)

### `sort_values(by=[' '])`

Some details about sort:

1. The first argument to `sort_values` is the name of a column to sort by.
2. If the column has text in it, `sort` will sort alphabetically; if the column has numbers, it will sort numerically.
3. The value of `farmers_markets_locations.sort_values(by=["x"])` is a *copy* of `farmers_markets_locations`; the `farmers_markets_locations` table doesn't get modified. For example, if we called `farmers_markets_locations.sort_values(by=["x"])`, then running `farmers_markets_locations` by itself would still return the unsorted table.
4. Rows always stick together when a table is sorted.  It wouldn't make sense to sort just one column and leave the other columns alone.  For example, in this case, if we sorted just the `x` column, the farmers' markets would all end up with the wrong longitudes.

**Question 3.5.** Create a version of `farmers_markets_locations` that's sorted by **latitude (`y`)**, with the largest latitudes first.  Call it `farmers_markets_locations_by_latitude`.

In [56]:
farmers_markets_locations_by_latitude = farmers_markets_locations.sort_values(by=["y"], ascending = False)
farmers_markets_locations_by_latitude

,MarketName,city,State,y,x
7274,Tanana Valley Farmers Market,Fairbanks,Alaska,64.862750,-147.781100
2392,Ester Community Market,Ester,Alaska,64.845900,-148.010000
2430,Fairbanks Downtown Market,Fairbanks,Alaska,64.844414,-147.719593
5182,Nenana Open Air Market,Nenana,Alaska,64.556600,-149.096000
3496,Highway's End Farmers' Market,Delta Junction,Alaska,64.038462,-145.733115
...,...,...,...,...,...
2257,El Mercado Familiar,Santa Isabel,Puerto Rico,17.972338,-66.418372
2253,El Maercado Familiar,Arroyo zona urbana,Puerto Rico,17.968620,-66.061721
1284,"Christian ""Shan"" Hendricks Vegetable Market",Saint Croix,Virgin Islands,17.744900,-64.704300
4063,La Reine Farmers Market,Saint Croix,Virgin Islands,17.732200,-64.778900
206,Anne Heyliger Vegetable Market,Saint Croix,Virgin Islands,17.709900,-64.879900

Now let's say we want a table of all farmers' markets in California. Sorting won't help us much here because California  is closer to the middle of the dataset.

Instead, we use the table method `df[df[''] condition var]`.

In [57]:
california_farmers_markets = farmers_markets_locations[farmers_markets_locations['State'] == 'California']
california_farmers_markets

,MarketName,city,State,y,x
88,Adelanto Stadium Farmers Market,Victorville,California,34.559300,-117.405000
105,Alameda Farmers' Market,Alameda,California,37.774248,-122.276762
130,Alisal Certified Farmers' Market,Salinas,California,36.673319,-121.634178
156,Altadena Farmers' Market,Altadena,California,34.200379,-118.158130
162,Alum Rock Village Farmers' Market,San Jose,California,37.367770,-121.833288
...,...,...,...,...,...
8528,Yountville Farmers Market,Yountville,California,38.402900,-122.363000
8533,Yreka Community Certified Farmers Market,Yreka,California,41.712825,-122.642124
8534,Yuba City Certified Farmers Market-Saturday,Yuab City,California,39.133181,-121.613835
8535,Yuba City Downtown Certified Farmers Market,Yuba City,California,39.138392,-121.616935
8536,Yucaipa CFM,Yucaipa,California,34.033900,-117.039000

Ignore the syntax for the moment.  Instead, try to read that line like this:

> Assign the name **`california_farmers_markets`** to a df whose rows are the rows in the df **`farmers_markets_locations`** which satisfy conditio  **`'State'`**s **`==` `California`**.

**Question 3.6.** Use `california_farmers_markets` to create a table called `berkeley_markets` containing farmers' markets in Berkeley, California.
<!--
BEGIN QUESTION
name: q36
-->

In [58]:
berkeley_markets = california_farmers_markets[california_farmers_markets["city"]=="Berkeley"]
berkeley_markets

,MarketName,city,State,y,x
1938,Downtown Berkeley Farmers' Market,Berkeley,California,37.869692,-122.272792
5308,North Berkeley Farmers' Market,Berkeley,California,37.880235,-122.269242
6881,South Berkeley Farmers' Market,Berkeley,California,37.847761,-122.271922

## 4. Analyzing a dataset

Now that you're familiar with table operations, let’s answer an interesting question about a dataset!

Run the cell below to load the `imdb` table. It contains information about the 250 highest-rated movies on IMDb.

In [64]:
# Just run this cell

imdb = pd.read_csv('imdb.csv')
imdb.head()

    Votes  Rating                Title  Year  Decade
0   88355     8.4                    M  1931    1930
1  132823     8.3  Singin' in the Rain  1952    1950
2   74178     8.3        All About Eve  1950    1950
3  635139     8.6                 Léon  1994    1990
4  145514     8.2     The Elephant Man  1980    1980

Often, we want to perform multiple operations - sorting, filtering, or others - in order to turn a table we have into something more useful. You can do these operations one by one, e.g.

```
first_step = original_df[original_df[“col1”] == 12]
second_step = first_step.sort_values(by=[‘col2’], ascending=False)
```

However, since the value of the expression `first_step = original_df[original_df[“col1”] == 12]` is itself a table, you can just call a table method on it:

```
first_step = original_df[original_df[“col1”] == 12].sort_values(‘col2’, ascending=False)
```
You should organize your work in the way that makes the most sense to you, using informative names for any intermediate tables you create.

**Question 4.1.** Create a df of movies released between 2010 and 2016 (inclusive) with ratings above 8. The table should only contain the columns `Title` and `Rating`, **in that order**.

Assign the table to the name `above_eight`.

*Hint:* Think about the steps you need to take, and try to put them in an order that make sense. Feel free to create intermediate tables for each step, but please make sure you assign your final table the name `above_eight`!

In [69]:
above_eight= imdb[["Title","Rating"]][imdb["Rating"]>8]
above_eight

                                     Title  Rating
0                                        M     8.4
1                      Singin' in the Rain     8.3
2                            All About Eve     8.3
3                                     Léon     8.6
4                         The Elephant Man     8.2
..                                     ...     ...
245                           Forrest Gump     8.7
246                  Le salaire de la peur     8.1
247                               3 Idiots     8.2
248                                Network     8.1
249  Eternal Sunshine of the Spotless Mind     8.3

[200 rows x 2 columns]

**Question 4.2.** Use `len()` (and arithmetic) to find the *proportion* of movies in the dataset that were released 1900-1999, and the *proportion* of movies in the dataset that were released in the year 2000 or later.

Assign `proportion_in_20th_century` to the proportion of movies in the dataset that were released 1900-1999, and `proportion_in_21st_century` to the proportion of movies in the dataset that were released in the year 2000 or later.

*Hint:* The *proportion* of movies released in the 1900's is the *number* of movies released in the 1900's, divided by the *total number* of movies.

In [71]:
num_movies_in_dataset = len(imdb)
num_in_20th_century = len(imdb[imdb["Year"]<2000])
num_in_21st_century = len(imdb[imdb["Year"]>=2000])
proportion_in_20th_century = num_in_20th_century/num_movies_in_dataset
proportion_in_21st_century = num_in_21st_century/num_movies_in_dataset
print("Proportion in 20th century:", proportion_in_20th_century)
print("Proportion in 21st century:", proportion_in_21st_century)

Proportion in 20th century: 0.684
Proportion in 21st century: 0.316

## 5. Summary

For your reference, you can find a list of dataframe attributes and methods in teh official Pandas Documentation below.  

[`pandas.DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas-dataframe)